.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: var(--ssFont)
}

.main p:hover, .male li:hover, .female li:hover, .unisex li:hover{
  font-weight: 600;
}

.nav{
  height: 5em;
  width: 100vw;
  padding-bottom: 5em;
  display: flex;
  justify-content: center;
}

.logo{
  object-fit: contain;

}

.filter{
  list-style-type: none;

}

.filterContainer{
  background: var(--white);
  height: auto;
  width: 30vw;
}

.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  width: 50em;

}

