.main {
  display: flex;
  flex-direction: row;
}

.nav{
  height: 5em;
  width: 100vw;
}

.logo{
  object-fit: contain;

}

.filterContainer{
  background: lightblue;
  height: auto;
  width: 40vw;
}

.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}